{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for book in object_list %}
    <div class="book">
        <img src="
            {% if book.image|stringformat:"s"|slice:":4" == 'http' %}
                {{ book.image }}
            {% else %}
                {{ book.image.url }}
            {% endif %}"
            alt=""
        >
        <a href="{% url 'book-detail' book.id %}"><p>{{ book.title }}</p></a>
        <p>
            {% if user.is_authenticated %}
            <a
                href=""
                class="like-btn {% if book.is_liked %}liked{% endif%}"
                data-id="{{ book.id }}">
            </a>
            {% endif %}
            <small>{{ book.owner.username }}</small>
        </p>
    </div>
{% endfor %}
{% if user.is_authenticated %}
<script src="{% static 'js/likes.js' %}"></script>
{% endif %}
{% endblock %}